LEGANTO USER TESTING CSS


head {
  background-color: #FAF9F6
}

body {
  background-color: #FAF9F6;
  text-align: center;
  margin: 0 auto !important;
}

div.topline  {
  text-align: center;
	text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter-Regular", Helvetica;
	background-color: #FAF9F6;
	padding: 30PX;
}

p.ashmooredesigns {
  font-size: 40px;
	color: #0e1111;
}

.topnav {
  overflow: hidden;
  background-color: #B36A5E;
  font-family: "Inter-Regular", Helvetica;
}

.topnav a {
  float: left;
  color: #fff7eb;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #FAF9F6;
  color: #0f110c;
}

.topnav-right {
  float: right;
}

h1, h2, h3  {
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter-Regular", Helvetica;
}

p  {
  font-family: Arial;
}

p.text  {
  font-family: Arial;
  margin-right: 100px;
  margin-left: 100px;
}

ul.specs {
  font-family: Arial;
}


div.footer  {
  text-align: center;
  font-family: Georgia;
}