LEGANTO USER TESTING CSS


head {
  background-color: #FAF9F6
}

body {
  background-color: #FAF9F6;
  text-align: center;
  margin: 0 auto !important;
}

div.topline  {
  text-align: center;
	text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter-Regular", Helvetica;
	background-color: #FAF9F6;
	padding: 30PX;
}

p.ashmooredesigns {
  font-size: 40px;
	color: #0e1111;
}

.topnav {
  overflow: hidden;
  background-color: #B36A5E;
  font-family: "Inter-Regular", Helvetica;
}

.topnav a {
  float: left;
  color: #fff7eb;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #FAF9F6;
  color: #0f110c;
}

.topnav-right {
  float: right;
}


h1 {
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter-Regular", Helvetica;
}

h2 {
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  font-family: Arial;
}

h3 {
  text-align: center;
  font-size: 20px;
  font-family: "Inter-Regular", Helvetica;
}

p.intro  {
  font-family: Arial;
  text-align: left;
  font-size: 18px;
  margin-right: 150px;
  margin-left: 170px;
}

ul.specs {
  font-family: Arial;
  font-size: 18px;
  text-align: left;
  margin-left: 225px;
}

ul.challenge {
  font-family: Arial;
  font-size: 18px;
  text-align: left;
  margin-left: 100px;
  margin-right: 100px;
}

p.text  {
  font-family: Arial;
  text-align: left;
  font-size: 18px;
  margin-right: 150px;
  margin-left: 120px;
}

ul.questions {
  font-family: Arial;
  font-size: 18px;
  text-align: left;
  margin-left: 100px;
  margin-right: 100px;
}

div.miroresults {
  content-align: center;
}

ol.tasks {
  font-family: Arial;
  font-size: 18px;
  text-align: left;
  margin-left: 200px;
  margin-right: 200px;
  padding: 10px;
}

ol.highp {
  font-family: Arial;
  font-size: 18px;
  text-align: left;
  margin-left: 200px;
  margin-right: 200px;
  padding: 10px;
}

ol.lowp {
  font-family: Arial;
  font-size: 18px;
  text-align: left;
  margin-left: 200px;
  margin-right: 200px;
  padding: 10px;
}

div.footer  {
  text-align: center;
  font-family: Georgia;
}
